body{
 text-align: center;
background-color: #40514e;
 
   
}

p{
    line-height: 2;
}


image{
    border-radius: 50px;
}


.top{
    color: #66bfbf;;
    font-weight: lighter;
    line-height: 2;
    background-color: #40514e;
    padding: 100px;
    margin: 50px;
    position: relative;
    text-align: center;
    font-family: 'Sacramento', cursive

}

.middle{
    background-color: #40514e;
    font-family: 'Merriweather', serif;
    margin: 50px auto 50px auto;
    
}




.dev{
    text-decoration: overline;
    
}
.pic1{
    border-radius: 50px;
    position: absolute;
    left: 400px;
    top: 40px;
    


}
.pic2{
    border-radius: 50px;
   position: absolute;
   right: 550px;
    height: 100px;
}
.pic3{
   border-radius: 50px;
   position: absolute;
   top: 40px;
   right: 400px;
}
h1{
    color: #66BFBF;
    font-size: 50px;
    font-weight: lighter;

}
h2{
    font-size: 40px;
    color: #66BFBF;

}

h3{
    color: #66BFBF;
    font-size: 35px;

}

h4{
    font-size: 33px;
    color: #66BFBF;

}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;


}

.confee{
    float: right;
    margin-right: 30px;
    border-radius: 50px;
}


.obi{
    float: left;
    margin-right: 30px;
    border-radius: 50px;

}
.love{
    clear: left;
    margin-bottom: 30px;
}
hr{
    border-style: none;
    border-width: 5px;
    width: 10%;
    color:#eaf6f6;
    border-top-style: dotted;
    margin: 100px auto 100px auto;
}

.saka{
    width: 20%;
    margin: 50px auto 80px auto ;
}
btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Georgia;
    color: #868a89;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border: solid #6b6b7a 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #b5bfc4;
    background-image: -webkit-linear-gradient(top, #b5bfc4, #8399a1);
    background-image: -moz-linear-gradient(top, #b5bfc4, #8399a1);
    background-image: -ms-linear-gradient(top, #b5bfc4, #8399a1);
    background-image: -o-linear-gradient(top, #b5bfc4, #8399a1);
    background-image: linear-gradient(to bottom, #b5bfc4, #8399a1);
    text-decoration: none;
  }



a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #11999e;
    margin: 30px 30px auto auto;
    text-decoration: none;
}
a:hover {
    color: #eaf6f6;

}


.last{
    background-color: #66bfbf;
    padding: 50px 0 20px ;
}

.vera{
    color: #eaf6f6;
    font-size: small;
}